*{
    margin: 0;
    padding: 0;
}
.out{
    padding-left: 100px;
    padding-right: 100px;
}
h1{
    font-size: 50px ;
    color: #333333;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.board-table {
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.board-table a {
    color: #333;
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
}
.board-table a:hover {
    text-decoration: underline;
}
.board-table th {
    text-align: center;
    background-color: #ffc9f6;
    color: #fff;
}
.boardBtn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.search{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

input{
    padding: 0;
    text-align: center;
    width: 250px;
    height: 40px;
    background-color: #fff;
    color: #ffc9f6;
    cursor: pointer;
    min-width: 80px;
    border: solid 1px #ffc9f6;
    border-radius: 5px;
}

.board-table .th-num {
    width: 130px;
    text-align: center;
}
.board-table .th-nickname {
    width: 200px;
}

.board-table .th-date {
    width: 200px;
}

.board-table th, .board-table td {
    padding: 14px 0;
}

.board-table tbody td {
    border-top: 1px solid #e7e7e7;
    text-align: center;
}

.board-table tbody td {
    padding-left: 28px;
    padding-right: 14px;
    border-top: 1px solid #e7e7e7;
    text-align: left;
}

.board-table tbody th p{
    display: none;
}

input[type=button] {
    padding : 0;
    background-color: #ffc9f6;
    border: none;
    color: white;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    cursor: pointer;
}

input::placeholder{
    color: #ffc9f6;
}
