@charset "UTF-8";
body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration-line: none;
}

.header1 a:visited{
    color: #ffc9f6;
}
.header1 a:link{
    color: #ffc9f6;
}

.header1 a{
    color: #ffc9f6;
}

img{
    text-decoration: none;
    color: #ffc9f6;
}
.logoImg{
    height: 80px;
}
.header1{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: solid 1px #dadada;
}
.navbar1_logo{
    font-size: 24px;
    color: #ffc9f6;
    width: 250px;
    height: 80px;
}
.navbar1_manu{
    display: flex;
    list-style: none;
    padding-left: 0;
    color: #ffc9f6;
}
.navbar1_manu li{
    padding: 8px 12px;
}

.navbar1_links{
    list-style: none;
    color: #fff;
    display: flex;
    padding-left: 0;
}

.navbar1_links li{
    padding: 8px 12px;

}
.navbar1_manubtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #ffc9f6;
}

@media screen and (max-width: 768px) {
    .navbar1{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar1_manu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar1_manu li {
        width: 100%;
        text-align: center;
    }
    .navbar1_links{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar1_links li {
        width: 100%;

    }
    .navbar1_manubtn{
        display: block;
    }

    .navbar1_manu.active,
    .navbar1_links.active{
        display: flex;
    }
}