*{
    padding: 0;
    margin: 0;
}

h1{
    margin: 3%;
}

.letter-thead {
    font-size: 24px;
    background-color: #ffc9f6;
    margin-top: 2%;
}
tbody{
    text-align: center;
}
.content{
    width: 40%;
}