@media screen and (max-width: 5000px) {
    body{
        transition: all 0.5s ease;
        display: grid;
        grid-template-columns: 250px auto auto;
        grid-template-areas:
		    "header header header"
		    "aside section section"
		    "aside section section"
		    "footer footer footer";
    }
}

@media screen and (max-width: 1023px) {
    body{
        transition: all 0.5s ease;
        display: grid;
        grid-template-columns: 60px auto auto;
        grid-template-areas:
		    "header header header"
		    "aside section section"
		    "aside section section"
		    "footer footer footer";
    }
}

header{
    grid-area: header;
}
aside{
    grid-area: aside;
}
section{
    grid-area: section;
}
footer{
    grid-area: footer;
}

