.in{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
table {
    text-align: center;
    vertical-align: middle;
    border-collapse: separate;
    border-spacing: 1px;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin: 20px 10px;
    width: 95%;
}

table.type04 th {
    vertical-align: middle;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background-color: #ffc9f6;
    color: #fff;
}

table.type04 td {
    vertical-align: middle;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.ai {
    color : black;
}

.modDate{
    width: 100px;
}
.regDate{
    width: 100px;
}
.nickname{
    width: 100px;
}
.title{
    width: 150px;
}
.category{
    width : 100px;
}
.type{
    width: 100px;
}
.check{
    width: 100px;
}

.b_no {
    width: 100px;
}

.p_no {
    width: 100px;
}

